@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

}

	*, *:before, *:after {
	box-sizing: inherit;
	font-family: 'Roboto', sans-serif;
}

body { 
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.img-flex {
	display: block;
	width: 100%;
}

@media only screen and (min-width: 40em) { 
	li { 
	display: inline-block;
	padding-right: 4em;	
	text-align: center;
	padding-top: .25em;
}	
} 


@media only screen and (min-width: 60em) { 
	html { 
		font-size: 110%; 
	}
} 


@media only screen and (min-width: 90em) { 
	html { 
		font-size: 120%;
	
	}
} 

@media only screen and (min-width: 120em) { 
	html { 
		font-size: 130%;
	}
}

.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.skip-links a {
	padding: 0.5em 0.75em;
	position: absolute;
	top: -3em;
	background-color: #000;
	color: #fff;
	font-size: 1.125em;
	font-weight: bold;
	text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.boxed { 
	width: 100%;
	height: 25em;
	color: #fff;
	background-color: #2EC0D3;
	text-align: center;
	padding: 7em;
}

.card-container {
	height: 150px;
	perspective: 600;
	position: relative;
}

.card {
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	width: 100%;	
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
}

.card:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card .side {
	-webkit-backface-visibility: hidden;	
	backface-visibility: hidden;
	height: 100%;
	position: absolute;
	width: 100%;
	color: #fff;
	text-align: center;
	background-color: #CAE98D;
}

.card .back {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	background: #2CADBE;
	padding: 3em;
}

.hello {
    border: 3px solid #fff;
	border-radius: 30px;
    height: 25px;
    width: 35px;
    position: absolute;
	font-size: .5em;
	padding: .5em;
    right:50%;
	left:auto;

	color: #eee;
	background-color: #2EC0D3;
    -webkit-animation: pulsate 2s ease;
    -webkit-animation-iteration-count: 3; 
	animation: pulsate 2s ease;
    animation-iteration-count: 3; 
	-webkit-opacity: 0.1;
    opacity: 0.1; 
	animation-fill-mode: forwards;  
	 -webkit-animation-fill-mode: forwards;
}

.pop {
  width: 90px;
  -webkit-transform: translateY(-130%);
  transform: translateY(-130%);
  display: inline-block;
  max-height: 0;
  overflow: hidden;  
  -webkit-transition: all 250ms ease-out;  
  transition: all 250ms ease-out; 
}

.js-panel-down {	
  max-height: 3.5em;
}

@-webkit-keyframes pulsate {
    0% {
	-webkit-transform: scale(0.1, 0.1); 
	opacity: 0.1;
	}
    50% {
	opacity: 1.0;
	}
    100% {
	-webkit-transform: scale(1.2, 1.2); 
	opacity: 0.3;
	}
}

@keyframes pulsate {
    0% {
	transform: scale(0.1, 0.1); 
	opacity: 0.1;
	}
    50% {
	opacity: 1.0;
	}
    100% {
	transform: scale(1.2, 1.2); 
	opacity: 0.3;
	}
}

h2 { 
	font-size: .75em;
	text-align: center;
	padding-top: .75em;
	color: #fff;
}

.title { 
	text-align: center;
	-webkit-transition-property: background;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: linear;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;	  
}

.title:hover {
	-webkit-animation: title 1s ease;
	animation: title 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	color: #20232D;
}

@-webkit-keyframes title {
    15% {
    -webkit-transform: translateX(5px);
    }
    30% {
    -webkit-transform: translateX(-5px);
    } 
    50% {
    -webkit-transform: translateX(3px);
    }
    65% {
    -webkit-transform: translateX(-3px);
    }
    80% {
    -webkit-transform: translateX(2px);
    }
    100% {
    -webkit-transform: translateX(0);
    }
}

@keyframes title {
    15%
    {
        transform: translateX(5px);
    }
    30%
    {
        transform: translateX(-5px);
    }
    50%
    {
        transform: translateX(3px);
    }
    65%
    {
        transform: translateX(-3px);
    }
    80%
    {
        transform: translateX(2px);
    }
    100%
    {
        transform: translateX(0);
    }
}

.top-menu { 
	background-color: white;
}

.btn-menu { 
	padding: .25rem;
	width: 4em;
}

nav a { 
	text-decoration: none;
	color: #CAE98D;
}

nav a:hover { 
	background-color:rgba(46, 192, 211, 0.6);
	padding: .5em;
} 

nav ul { 
	list-style: none;
}

.panel { 
	max-height: 0; 
	overflow: hidden;
	list-style-type: none;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.js-panel-open { 
	display: block;
	max-height: 250px; 
}

li { 
	padding-top: 1em;
}

.work { 
	text-align: center; 
	color: #2EC0D3;
}

.thumbnails { 
	margin: 0; 
	padding: 0;
}

.thumbnails li{ 
	display: inline-block;
}

.thumbnails a { 
	display: block;
	width:40%;
}

.lightbox { 
	position: fixed; 
	left: 100%; 
	right: -100%; 
	top: 0; 
	bottom:0;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition:  all 1s linear;
	transition:  all 1s linear;
}

.lightbox[data-state="visible"] { 
	opacity: 1em; 
	right: 0; 
	left:0;
}

.lightbox-container { 
	position: absolute;
	left: 15px; 
	right: 15px;
	bottom: 15px;
	top: 15px;
	background-color: white;
	border-radius: 6px;
	box-shadow: 1px 1px 4px #000;
	padding: 1em;
}

.lightbox-img { 
	display: block; 
	width: 100%;
}

.lightbox-content { 
	-webkit-transform: translate(-50% ,-50%); 
	transform: translate(-50% ,-50%); 
	position: absolute;
	top:50%;
	width: calc(100% - 2em);
	left: 50%; 
	max-width: 400px; 
}

.btn-close { 
	height: 3em;
	width: 3em; 
	border-radius: 20px; 
	border: none;
	background-color: #2EC0D3; 
	color: white;
}

.icon { 
	width: 150%; 
	height: 150%;
	margin-left: 60%;
	
}

.icon:hover {
	opacity:0.6; 
	text-align:justify; 
	color:#000000; font-size:20px; 
	font-weight:700;
	padding:30px;
}

