html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
 background-color: black;
}

.title { 
	width: 50%; 
	height:50vh;
	position: absolute;
	top:20px;
	left: 50%;
	-webkit-animation: pulse 5s ease-in-out alternate infinite;
	animation: pulse 5s ease-in-out alternate infinite; 
}

@-webkit-keyframes pulse { 

0% { 
	-webkit-transform: scale( 1, 1);
}
100% { 
	-webkit-transform: scale(1.15 , 1.15);
}

}
	
@keyframes pulse { 

0% { 
	transform: scale( 1, 1);
}
100% { 
	transform: scale(1.15 , 1.15);
}

}

.uni { 
	width: 100px; 
	height: 100px; 
	position: absolute;
	top:100px;
	left: 10%;
	-webkit-animation: box-bounce 3s ease-in-out;
	animation: box-bounce 3s ease-in-out ;
}

@-webkit-keyframes box-bounce { 
	0% { 
		-webkit-transform: translateY(0); 
	} 
	50% { 
		-webkit-transform: translateY(300px);
	}
	70% { 
		-webkit-transform: translateY(100px); 
	}
	81.74% { 
		-webkit-transform: translateY(300px);
	}
	92% { 
		-webkit-transform: translateY(120px);
	}
	100% { 
		-webkit-transform: translateY(300px);
	}
}

@keyframes box-bounce { 
	0% { 
		transform: translateY(0); 
	} 
	50% { 
		transform: translateY(300px);
	}
	70% { 
		transform: translateY(100px); 
	}
	81.74% { 
		transform: translateY(300px);
	}
	92% { 
		transform: translateY(120px);
	}
	100% { 
		transform: translateY(300px);
	}
}


